fastapi==0.115.6
uvicorn==0.34.0
pydantic_settings==2.7.1
sqlalchemy==2.0.37
pyheck==0.1.5
psycopg[binary]==3.2.4
psycopg2-binary==2.9.10
redis==5.2.1
pydantic_extra_types==2.10.2
requests==2.32.3
ruff==0.9.6
pytest==8.3.4
httpx==0.28.1
pytest-cov==6.0.0
prometheus-fastapi-instrumentator==7.0.2
PyTelegramBotApi==4.26.0
minio==7.2.15
pillow==11.1.0
python-multipart==0.0.20